---
import config from "@/config/config.json";
import ImageMod from "./ImageMod.astro";
import { Logo } from "./Logo";

const { src, srcDarkmode }: { src?: string; srcDarkmode?: string } =
  Astro.props;
const {
  logo,
  logo_darkmode,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_darkmode: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;

const { theme_switcher }: { theme_switcher: boolean } = config.settings;
---

<a href="/" class="navbar-brand group inline-flex items-center">
  {
    src || srcDarkmode || logo || logo_darkmode ? (
      <Logo
        client:load
        src={src ? src : logo}
        srcDarkmode={srcDarkmode ? srcDarkmode : logo_darkmode}
        logoWidth={logo_width.replace("px", "")}
        logoHeight={logo_height.replace("px", "")}
        title={title}
        themeSwitcher={theme_switcher}
      />
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
</a>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap");

  .navbar-brand {
    @apply relative;
  }
</style>
