---
import config from "@/config/config.json";

interface Props {
  class?: string;
  maxWidth?: string;
}

const { class: className = "", maxWidth = "max-w-3xl" } = Astro.props;
---

<div
  class={`bg-white/5 dark:bg-black/10 rounded-lg
  border border-white/10 dark:border-white/5
  shadow-sm transition-all duration-200
  hover:shadow-md hover:bg-white/10 dark:hover:bg-black/15
  mx-auto ${maxWidth} ${className}`}
>
  <div
    class="grid auto-cols-fr grid-flow-col divide-x divide-white/10 dark:divide-white/5"
  >
    <slot />
  </div>
</div>
